.logo-header{
    position: absolute;
    top: 0px;
    height: max-content;
    margin-left: 3rem;
    margin-top: 3rem;
}

.has-shown {
    animation: has-shown 2s ease-in-out forwards;
}

@keyframes has-shown{
    from{
        opacity: 0;
        transform: translateY(50px)
    }

    to{
        opacity: 1;
        transform: none;
    }
}

