#page-landing{
    width: 100vw;
    height: 100vh;
}

#page-landing .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 135px);
}

#page-landing .container .logo-container{
    height: fit-content;
    opacity: 0;
    animation: showed 2s 1.5s ease forwards;
}

#page-landing .container .logo-container img{
    height: 20rem;
}

#page-landing .container .title-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

#page-landing .container .title-container h1{
    grid-area: title;
    font: 5rem Poppins;
    font-weight: 700;
    opacity: 0;
    animation: showed 2s 2s ease forwards;
    max-width: 65rem;
    color: var(--color-title-in-primary);
}

#page-landing .container .buttons-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 5.5rem;
}

#page-landing .container .buttons-container .button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
    color: var(--color-button-text);
}

#page-landing .container .buttons-container .button:hover{
    color: var(--color-button-hover) ;
}

#page-landing .container .buttons-container .button:hover ion-icon{
    color: var(--color-button-hover) ;
}

#page-landing .container .buttons-container .button ion-icon{
    color: var(--color-icons);
    width: 5.5rem;
    height: 5.5rem;
    opacity: 0;
    animation: showed 2s 2.5s ease forwards;
}

#page-landing .container .buttons-container .button h2{
    font-family: Nunito;
    opacity: 0;
    animation: showed 2s 2.8s ease forwards;
}



@keyframes showed{
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

  
