:root{
    font-size: 60%;

    --color-background: #021027;
    --color-primary-lighter: #9871F5;
    --color-primary-lighter-menu: rgb(152,113,245,0.5);
    --color-primary-lighter-menu-dark: rgba(97, 72, 156, 0.5);
    --color-primary-light: #916BEA;
    --color-primary: #8257E5;
    --color-primary-dark: #774DD6;
    --color-primary-darker: #6842C2;
    --color-secundary: #04D361;
    --color-secundary-dark: #04BF58;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #f0ecfa;
    --color-text-title: #32264D;
    --color-text-complement: #9C98A6;
    --color-text-base: #6A6180;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    /* --color-button-hover:#817767;  */
    --color-button-hover:#021027; 
    --color-icons: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh;
}

body{
    background-image: url(../img/mpfjpg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#root {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

body, input, button, textarea {
    font: 500 1.6rem Oxygen ;
    color: var(--color-text-base);
} 


@media(min-width: 700px){
    :root{
        font-size: 62.5%;
    }
}