.div-menu-icon{
  position: absolute;
  top: 3rem;
  right: 3rem;
  display: flex;
  align-items: center;
  margin-right: 30px;
  z-index: 2;
  animation: has-shown 2s ease-in-out forwards;
}

.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.menu-btn:hover{
  animation: pulsate-fwd 1s ease-in-out infinite both;
}

.menu-btn_burger{
  width: 3rem;
  height: 0.4rem;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}

.menu-btn_burger::before, .menu-btn_burger::after{
  content: '';
  position: absolute;
  width: 3rem;
  height: .4rem;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}

.menu-btn_burger::before{
  transform: translateY(-1rem);
}

.menu-btn_burger::after{ 
  transform: translateY(1rem);
}


/* ANIMATION */

.menu-btn.open .menu-btn_burger{
  transform: translateX(-5rem);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn_burger::before{
  transform: rotate(45deg) translate(3.5rem, -3.5rem);
}

.menu-btn.open .menu-btn_burger::after{
  transform: rotate(-45deg) translate(3.5rem, 3.5rem);
}
/* ****************** */

.div-menu-background{
  width: 0vw;
  height: 00vh;
  background:#000;
  opacity: 90%;
  border-bottom-left-radius: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.div-menu-background .menu-list{
  display: flex;
  flex-direction: column;
  color: #fff;
  margin-left: 15%;
  margin-top: 10rem;
}

.div-menu-background .menu-list .profile{
  display: flex;
  align-items: center;
}

.div-menu-background .menu-list .profile ion-icon{
  width: 5rem;
  height: 5rem;
}

.div-menu-background .menu-list .profile h1{
  font: 500 4rem 'Poppins';
  margin-left: 2rem;
}

.div-menu-background .menu-list li{
  font: 500 4rem 'Poppins';
  margin-top: 2rem ;
  list-style: none;
  opacity: 0;
}

.div-menu-background.open{
  animation: checked-anim 1.5s ease both;
}
.div-menu-background.open .menu-list, li{
  animation: show-menu-item 2s ease-in-out forwards;
}

.div-menu-background.close{
  animation: not-checked-anim .5s both;
}

.div-menu-background.close .menu-list, li{
  /* animation: hide-menu-item .5s both; */
}

@keyframes pulsate-fwd {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes has-shown{
  from{
      opacity: 0;
      transform: translateY(50px)
  }

  to{
      opacity: 1;
      transform: none;
  }
}

@keyframes show-menu-item{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes hide-menu-item{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
    /* transform: translateX(50px); */
  }
}


@keyframes checked-anim {
  50% {
      width: 3000px;
      height: 3000px;
  }
  100% {
      width: 100%;
      height: 100%;
      border-radius: 0;
  }
}
@keyframes not-checked-anim {
  0% {
      width: 3000px;
      height: 3000px;
  }
}
