.container-menu {
    background: var(--color-primary-lighter-menu);
    height: 100%;
    width: 30vw;
    z-index: 1;

    position: absolute;
    top: 0;
    right: 0;

    display: none;

    transition: display 0.5s;
}

.container-items{
    margin-top: 5rem;
}

.item-menu{
    width: 100%;
    display: inline-flex;
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    color: white;
    
    
}

.item-menu h2{
  text-decoration: none !important;
  font-family: Oxygen;
}

.link{
  text-decoration: none;
}

.item-menu:hover {
    background-color: var(--color-primary-lighter-menu-dark);
}

.item-menu:hover .rotate-icon ion-icon{
    width: 3.8rem;
    animation: rotate-center 2s linear infinite;
}

.item-menu:hover .shake-icon ion-icon{
    width: 3.8rem;
    animation: shake-lr 0.7s linear ;
}

.item-menu:hover .out-icon ion-icon{
    width: 3.8rem;
    animation: swing-out-right-bck 1s ease-out 2 alternate;
}

.item-menu:hover .rotate-in-icon ion-icon{
    width: 3.8rem;
    animation: slit-in-vertical 0.7s cubic-bezier(.01,.62,.07,.88) forwards;
}

.item-menu ion-icon{
    width: 3rem ;
    height: 3rem;
    margin-right: 0.6rem;
}

.div-menu-icon{
    display: flex;
    align-items: center;
}

.div-menu-icon ion-icon {
    width: 3.5rem ;
    height: 3.5rem;
    margin-right: 3.5rem;
    color : white;
    transition: width 0.3s, animation 0.3s;
    transition-timing-function: ease;
    
}

.rotate-icon ion-icon:hover{
    animation: pulsate-fwd 1s ease-in-out infinite both;
}


@keyframes pulsate-fwd {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}