.footer-container{
    width: 100vw;
    height: 25px;
    display: flex;
    justify-content: center;    
    overflow: hidden;
}

.footer-container p{
    font-family: Oxygen;
    opacity: 0;
    animation: showed 2s 3.5s ease forwards;
}

@keyframes showed{
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}